<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My IP</title>
  </head>
  <body>
    <h1> This is the Response. </h1>
    <p> {{ resp }} </p>
  </body>
</html>